@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>

    <div class="row">
        <div class="col-md-8">
            <div class="m-3">
                <label>Kategori:</label>
                <form method="post" asp-page="./Index" asp-page-handler="Sort">
                    <select name="category" onchange="this.form.submit()" class="form-control">
                        @foreach (var cat in Model.Categories)
                        {
                            <option value="@cat">@cat</option>
                        }
                    </select>
                    @*                     <button type="submit" class="btn btn-primary">Indsend</button>
                    *@
                </form>
                <form method="post" asp-page="./Index" asp-page-handler="Reset">
                    <button type="submit" class="btn btn-secondary">Vis Alle Varer</button>
                </form>
            </div>
            <form method="post" asp-page-handler="AddTillCart">
                <div class="row">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-md-3 mt-3">
                            <div class="card h-100">
                                <img src="@item.ImagePath" class="card-img-top" />

                                <div class="card-body">
                                    <p class="card-text"><strong>@item.Name</strong></p>
                                    <div class="price">@item.Price</div>
                                </div>
                                <div class="card-footer">

                                    <form method="post" asp-page-handler="SletKurv">
                                        <input type="number" name="quantity" value="1" min="1" class="form-control" />
                                        <input type="hidden" name="itemId" value="@item.Id" />
                                        <button class="btn btn-success">Tilføj til kurv</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>

        </div>
        <div class="col-md-3 bg-white text-center" style="border-radius:6px">
            <form method="post" asp-page-handler="GoTillCart" class="m-2">
                <div class="Cart">
                    <div>
                        <input type="submit" value="Gå til kurv" class="btn btn-primary">
                    </div>
                </div>
            </form>

            <div class="col-8">
                <div class="card" id="testing">
                    <div class="card-title">Indkøbskurv</div>
                    <div class="hejhej" style="align-items:flex-start;">
                        @foreach (var item in Model.ItemsPerPage)
                        {
                            <div class="card-body" id="indkøbskurv">
                                <div class="card">
                                    <img id="billede" src="@item.Key.ImagePath" alt="Produktbillede">
                                    <div class="item-details">
                                        <span>@item.Key.Price,-</span>
                                        <span>@item.Key.Name</span>
                                        <span>@item.Value x</span>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="align-self-end">
                        <label>Samlet beløb:</label> @Model.Total
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>