@page
@model Z_Marked.Pages.OrderFiles.OrderPageModel
@{
}

<html>
<head>
    <title>Kurv</title>
</head>
<body>
    <h1>Kurv</h1>
    <div class="container mt-3">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Varer</th>
                <th>Navn</th>
                <th>Pris</th>
                <th>Antal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemsPerPage)
            {
                <tr>
                    <td>
                        <img style="height:80px;" src="@item.Key.ImagePath" />
                    </td>
                    <td>@item.Key.Name</td>
                    <td>@item.Key.Price Kr.</td>
                        <td>@item.Value</td>
                    </tr>
            }
                
        </tbody>
    </table>
    </div>
    <label>Samlet beløb </label> : @Model.TotalAmount Kr.
</body>
</html>
