@page
@model Z_Marked.Pages.Items.DeleteConfirmationModel
@{
}
<h1>Are you sure you want to delete item?</h1>
@Model.ID
@Model.Name
@Model.Price
@Model.Category
@Model.Description
@Model.NutritionalContent
@Model.Imagepath